/* BASE STYLES */
body {
  font-size: 62.5%;
  background-image: url(../assets/wp8797805-pokemon-pixel-wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'digital-7regular';
  background-attachment: fixed;
}


.wrapper {
    width:90%;
    margin: 0 auto;
    max-width: 1080px;
    height: auto;
}