
/* MAIN STYLES */

.pokedexContainer {
  display: flex;
  justify-content: center;
}

.pokedex {
  background-image: url(../assets/Pokedex.png);
  display: flex;
  position: relative;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1100px;
  height: 600px;
  margin-bottom: 100px;
}

.pokemonImage {
  position: absolute;
  width: 200px;
  height: auto;
  margin-top: 160px;
  margin-right: 422px;
}

button {
  position: absolute;
  padding: 21px 23px;
  border-radius: 10px;
  background-color: yellow;
  -webkit-box-shadow: -3px 3px 5px #000;
  box-shadow: -3px 3px 5px #000;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 490px;
  margin-right: 499px;
}

.pokename {
  // display: flex;
  margin-top: 187px;
  margin-left: 287px;
  // flex-direction: column;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1rem;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1rem;
}